{
    "AccountToken": "",
    "AgentToken": "",
    "ApiUrl": "https://api.spacetraders.io",
    "ShipCommands":[
        {
            "ShipSymbol": "",
            "ShipCommandEnum": "",
            "StartWaypointSymbol": "",
            "EndWaypointSymbol": ""
        }
    ]
}