@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@model WaypointsViewModel
@{
    ViewData["Title"] = "Home Page";
    var waypoints = await Model.Waypoints;
}

@if (!waypoints.Any())
{
    <h6>No Waypoints</h6>
}
else
{
    <h6>System @waypoints.First().SystemSymbol</h6>
    <div style="margin-left:10px; border-left-style: solid; border-left-width: 1px; padding-left: 10px;  margin-bottom: 0px;">
        @foreach (var waypoint in waypoints)
        {
            WaypointViewModel waypointViewModel = new (
                Task.FromResult(waypoint),
                Model.CurrentWaypoint,
                Model.CurrentShip
            );
            await Html.RenderPartialAsync("~/Views/Waypoints/_Waypoint.cshtml", waypointViewModel);
        }
    </div>
}


