@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@model IEnumerable<Waypoint>
@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
    <h6>No Waypoints</h6>
}
else
{
    <h6>System @Model.First().SystemSymbol</h6>
    <div style="margin-left:10px; border-left-style: solid; border-left-width: 1px; padding-left: 10px;  margin-bottom: 0px;">
        @foreach (var waypoint in Model)
        {
            await Html.RenderPartialAsync("~/Views/Waypoints/_Waypoint.cshtml", waypoint);
        }
    </div>
}


