@using SpaceTraders.Models
@model SystemViewModel
@{
    var system = await Model.SystemTask;
    ViewData["Title"] = $"Sy {system.Symbol}";
}

<div>
    @await Html.PartialAsync("_System", Model)
</div>

