@using SpaceTraders.Models
@using SpaceTraders.Mvc.Services
@using SpaceTraders.Models.Enums
@using SpaceTraders.Services
@using SpaceTraders.Services.Shipyards
@model IEnumerable<ShipStatus>
@{
    ViewData["Title"] = "Fleet Status";
}

<section class="text-center container">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
        @foreach (var shipStatus in Model
            .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.COMMAND.ToString())
            .OrderBy(s => s.Ship.ShipCommand?.ShipCommandEnum.ToString()))
        {
            await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
        }
    </div>
</section>

<br/>
<br/>

<section class="text-center container">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
        @foreach (var shipStatus in Model
            .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.HAULER.ToString())
            .OrderBy(s => s.Ship.ShipCommand?.ShipCommandEnum.ToString()))
        {
            await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
        }
    </div>
</section>

<br/>
<br/>

<section class="text-center container">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
        @foreach (var shipStatus in Model
            .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.EXCAVATOR.ToString()
                && s.Ship.Mounts.Any(m => m.Symbol.Contains("MINING_LASER")))
            .OrderBy(s => s.Ship.ShipCommand?.ShipCommandEnum.ToString()))
        {
            await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
        }
    </div>
</section>

<br/>
<br/>

<section class="text-center container">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
        @foreach (var shipStatus in Model
            .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.EXCAVATOR.ToString()
                && s.Ship.Mounts.Any(m => m.Symbol.Contains("GAS_SIPHON")))
            .OrderBy(s => s.Ship.ShipCommand?.ShipCommandEnum.ToString()))
        {
            await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
        }
    </div>
</section>

<br/>
<br/>

<section class="text-center container">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
        @foreach (var shipStatus in Model
            .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.SURVEYOR.ToString())
            .OrderBy(s => s.Ship.ShipCommand?.ShipCommandEnum.ToString()))
        {
            await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
        }
    </div>
</section>

<br/>
<br/>

<section class="text-center container">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around">
        @foreach (var shipStatus in Model
            .Where(s => s.Ship.Registration.Role == ShipRegistrationRolesEnum.SATELLITE.ToString())
            .OrderBy(s => s.Ship.Nav.WaypointSymbol))
        {
            await Html.RenderPartialAsync("_ShipStatusBox", shipStatus);
        }
    </div>
</section>
